name: Django CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 1
      matrix:
        python-version: [3.9]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - uses: actions/checkout@v3
      name: Cache pip dependencies
    - uses: actions/setup-python@v4
      with:
        python-version: '3.9'
        cache: 'pip'

    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Run Tests
      run: |
        python manage.py test

  heroku_git_deploy_job:
    needs: build
    runs-on: ubuntu-latest
    name: Git Deploy job- A job to deploy django app to heroku using git
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Deploy django to heroku
        uses: nyakaz73/heroku-django-deploy@v0.68 
        with: 
          heroku_app_name : ${{ secrets.HEROKU_APP_NAME }}
          heroku_api_key: ${{ secrets.HEROKU_API_KEY }}
          heroku_email_address: 'dserbenyukgood@gmail.com'
          use_git: true
          git_branch: main
      - name: set remote
        run: heroku git:remote https://heroku:${{ secrets.HEROKU_API_KEY }}@git.heroku.com/djangogithubactions.git
      - name: push and deploy
        run: git push heroku main
